# Virtual environment
.venv/
venv/
ENV/
env/

# Python neglected files
main.py
main_en.py

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode / PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Streamlit cache
.streamlit/

# Pytest cache
.pytest_cache/
